@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Estilos Globales */
body {
  background-color: #f8f1e4; /* Asegura coherencia con app.component.scss */
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Ajustes globales para títulos */
h1,
h2 {
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

/* Ajustes globales para formularios */
input,
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Ajustes para los botones */
button[pButton] {
  background: #ff7f50;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: auto;
}

button[pButton]:hover {
  background: #ff6347;
}

/* Asegura espaciado uniforme en las tarjetas */
p-card {
  width: 100%;
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
